mixin header(title)
	header.header
		.h1_subtitle Агропромышленная компания
		h1.h1
			a(href='') Gather
		.box_wrapper
			.box.box_page
				.box_page__title=title
				.box_page__subtitle
					a(href='index.html') Главная
					=' | '
					=title
