@font-face {
  font-family: "Roboto Condensed";
  src: url(..//fonts/RobotoCondensed-Bold.woff2);
  font-weight: 600; }

@font-face {
  font-family: "Roboto Condensed";
  src: url(..//fonts/RobotoCondensed-Regular.woff2);
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(..//fonts/Roboto-Light.woff2);
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url(..//fonts/Roboto-Medium.woff2);
  font-weight: 500; }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  color: #ffffff;
  background: #666666;
  height: 200vh; }

p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300; }

button {
  outline: none;
  cursor: pointer;
  color: inherit; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid;
  border-left: 2px solid; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.25; }

.h1 {
  font-size: 125px;
  letter-spacing: 40px; }
  .h1_subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center; }

.h2 {
  font-size: 60px;
  letter-spacing: 10px; }
  .h2_black {
    color: #222222; }
  .h2_subtitle {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px; }

.h3 {
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 400; }
  .h3_bold {
    font-weight: 600;
    letter-spacing: 6px; }
  .h3_low {
    text-transform: none; }

.h4 {
  font-size: 24px;
  letter-spacing: 6px; }

@media (max-width: 768px) {
  .h1 {
    font-size: 60px;
    letter-spacing: 20px; }
    .h1_subtitle {
      font-size: 15px;
      letter-spacing: 5px; } }

.box {
  border: 6px solid #ffffff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase; }
  .box_wrapper {
    text-align: center; }
  .box_main {
    position: relative;
    max-width: 510px;
    padding: 75px 50px; }
    .box_main__title {
      font-size: 30px;
      letter-spacing: 12px; }
  .box_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: 8px;
    display: inline-block;
    padding: 15px 125px;
    line-height: 1.5; }
    .box_page__title {
      font-size: 30px;
      font-weight: 600; }
    .box_page__subtitle {
      font-size: 22px;
      white-space: nowrap; }
      .box_page__subtitle a {
        -webkit-transition: color .3s;
        transition: color .3s; }
        .box_page__subtitle a:hover {
          color: #a9a9a9; }
  .box_offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
    position: relative; }
    .box_offer__title {
      font-size: 42px;
      font-weight: 400;
      letter-spacing: 4px; }
    .box_offer__subtitle {
      font-size: 24px;
      letter-spacing: 4px; }
  .box__btn {
    position: absolute;
    bottom: -25px;
    height: 50px; }

@media (max-width: 768px) {
  .box_page {
    padding: 15px 0;
    width: 80%; } }

@media (max-width: 320px) {
  .box_page__subtitle {
    font-size: 16px; } }

.btn {
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  height: 50px;
  padding: 0 30px;
  border: 0;
  background: 0;
  -webkit-transition: color, background,  .3s;
  transition: color, background,  .3s; }
  .btn_standart {
    padding: 0; }
    .btn_standart:hover {
      color: #d9d9d9; }
  .btn_white {
    background: #ffffff;
    color: #444444;
    border: 4px solid #ffffff; }
  .btn_black {
    background: #222222;
    border: 4px solid #222222; }
  .btn_hover-black:hover {
    background: #222222;
    color: #ffffff;
    border: 4px solid #222222; }
  .btn_hover-border-white:hover {
    background: 0;
    border: 4px solid #ffffff;
    color: #ffffff; }
  .btn_hover-border-black:hover {
    background: 0;
    border: 4px solid #222222;
    color: #222222; }
  .btn_scroll {
    position: fixed;
    bottom: -100px;
    right: 25px; }
    .btn_scroll_visible {
      bottom: 25px; }

.menu {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  padding: 50px 0 10px;
  -webkit-transition: background .2s;
  transition: background .2s;
  z-index: 100; }
  .menu_visible {
    top: 0 !important; }
  .menu_scroll {
    position: fixed;
    padding-top: 0;
    background: #222222; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu__link {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 20px;
    margin: 0 30px;
    border: 5px solid rgba(255, 255, 255, 0);
    -webkit-transition: border .2s;
    transition: border .2s;
    display: block; }
    .menu__link:hover {
      border: 5px solid #ffffff; }

.hamburger {
  display: none;
  position: fixed;
  top: 10px;
  left: 60px; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #fff; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #fff; }

@media (max-width: 992px) {
  .menu {
    position: fixed;
    padding: 75px 0 0 50px;
    height: 100vh;
    background: #222222;
    top: -100%;
    -webkit-transition: top .2s;
    transition: top .2s; }
    .menu ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .menu__link {
      display: inline-block;
      margin: 10px 0; }
  .hamburger {
    display: block; } }

@media (max-width: 320px) {
  .hamburger {
    left: 15px; }
  .menu {
    padding-left: 15px; } }

.header {
  background: url(..//img/main-header.jpg) center/cover;
  padding: 150px 0 50px; }

.home-header {
  position: relative;
  height: 100vh; }
  .home-header__content {
    position: absolute;
    bottom: 125px;
    width: 100%; }

.slider {
  width: 100%;
  position: absolute;
  z-index: -1; }
  .slider__image {
    height: 100vh; }
    .slider__image_1 {
      background: url(..//img/home-header-1.jpg) center/cover; }
    .slider__image_2 {
      background: url(..//img/main-header.jpg) center/cover; }
    .slider__image_3 {
      background: url(..//img/home-header-3.jpg) center/cover; }

@media (max-width: 768px) {
  .header {
    padding-top: 100px; } }

.footer {
  background: #222222;
  color: #444444;
  padding: 100px 0; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-logo {
    font-weight: 600;
    width: 50%;
    text-transform: uppercase; }
    .footer-logo__name {
      font-size: 60px;
      letter-spacing: 20px;
      line-height: 1; }
    .footer-logo__privacy {
      font-size: 14px;
      letter-spacing: 3px; }
  .footer__contacts {
    min-width: 225px;
    max-width: 225px;
    font-size: 14px;
    font-weight: 600; }
  .footer__call {
    font-weight: 400;
    text-transform: uppercase; }
  .footer__tel {
    font-size: 30px; }
  .footer__social {
    line-height: 1;
    font-size: 28px;
    width: auto;
    margin: 0 auto;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .footer__social a:not(:last-child) {
      margin-right: 10px; }
    .footer__social .facebook {
      position: relative;
      font-size: 26px;
      top: -3px; }
  .footer a:not(.footer-logo__name) {
    -webkit-transition: color .3s;
    transition: color .3s; }
    .footer a:not(.footer-logo__name):hover {
      color: #f1f1f1; }

@media (max-width: 768px) {
  .footer__content {
    display: block; }
  .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
  .footer__contacts {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px; }
  .footer__social {
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
    .footer__social a:not(:last-child) {
      margin-right: 25px; } }

@media (max-width: 320px) {
  .footer-logo__name {
    font-size: 50px;
    letter-spacing: 10px; } }

.products-wrapper {
  background: url(..//img/field.jpg) center top/cover;
  padding: 75px 0 0;
  text-align: center; }
  .products-wrapper p {
    padding: 0 50px;
    margin: 40px 0 50px; }

.products {
  margin-top: 60px; }
  .products__item {
    padding: 125px 0;
    margin: 0 20px;
    position: relative;
    cursor: pointer; }
    .products__item .h3 {
      position: relative;
      z-index: 1; }
    .products__item:hover .products__shadow {
      background: rgba(20, 20, 20, 0.8); }
  .products__cereals {
    background: url(..//img/350/cereals-2.jpg) center/cover; }
  .products__vegetables {
    background: url(..//img/350/vegetables.jpg) center/cover; }
  .products__fruit {
    background: url(..//img/350/raspberry.jpg) center/cover; }
  .products__seed {
    background: url(..//img/seed-370.jpg) center/cover; }
  .products__shadow {
    background: rgba(20, 20, 20, 0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: background .3s;
    transition: background .3s; }

.products-nav {
  text-align: center;
  padding: 50px 0; }
  .products-nav__button {
    font-size: 26px;
    background: 0;
    border: 0;
    color: #f9f9f9;
    -webkit-transition: color .3s;
    transition: color .3s;
    padding: 5px 15px; }
    .products-nav__button:hover {
      color: #999999; }
  .products-nav__next {
    margin-left: -4px; }

.slick-slide {
  outline: none; }
