@font-face {
  font-family: "Roboto Condensed";
  src: url(..//fonts/RobotoCondensed-Bold.woff2);
  font-weight: 600; }

@font-face {
  font-family: "Roboto Condensed";
  src: url(..//fonts/RobotoCondensed-Regular.woff2);
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(..//fonts/Roboto-Light.woff2);
  font-weight: 300; }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  margin: 0; }
