doctype html
html(lang='ru')
	include /modules/base
	body
		include /modules/menu
		include /modules/hamburger
		include /modules/scroll-button

		include /modules/home/header
		include /modules/home/products
		include /modules/home/technologies
		include /modules/home/advantages

		include /modules/footer
		include /base/scripts
