mixin adv-item(icon,title,text)
	.advantages-item
		.advantages-item__header
			.advantages-item__line
			.advantages-item__icon(class=icon)
			.advantages-item__line
		.advantages-item__content
			.advantages-item__text
				h3.h3=title
				p=text
			button.btn.btn_white.btn_hover-border-white.advantages-item__btn Подробнее

section.advantages-wrapper
	.container
		.advantages
			+adv-item('icon-leaf','Культивация','Системы земледелия варьируются между фермами в зависимости от имеющихся ресурсов и ограничений, связанных с географией и климатом хозяйства, а также с философией и культурой фермера.')
			+adv-item('icon-case','Безопастность','Сельское хозяйство остается опасной отраслью, и фермеры во всем мире по-прежнему подвержены высокому риску производственного травматизма, а также некоторых видов рака, связанных с использованием химических веществ и длительным пребыванием на солнце.')
			+adv-item('icon-thermometer','Климат','Изменение климата может повлиять на сельское хозяйство в результате изменения температуры, количества осадков, солнечной радиации и взаимодействия этих элементов. Прогнозируются такие экстремальные явления, как наводнения и засухи.')
			+adv-item('icon-sun','Оборудование','Сельское хозяйство влечет за собой внешние издержки для общества в виде пестицидов, стоков питательных веществ, чрезмерного потребления воды, утраты природной среды и целого ряда других проблем.')
		.box.box_offer.advantages__box
			.box_offer__title Мы Используем инновационное оборудование
			.box_offer__subtitle Для сокращения времени и энергозатрат в сельском хозяйстве
			button.btn.btn_white.btn_hover-black.box__btn Подробнее
