header.home-header
	.slider
		img.slider__image(src='img/home-header-1.jpg' alt='Agroculture')
		img.slider__image(src='img/main-header.jpg' alt='Agroculture')
		img.slider__image(src='img/home-header-2.jpg' alt='Agroculture')
	.home-header__content
		.h1_subtitle Агропромышленная компания
		h1.h1 Gather
		.box.box_main
			.box_main__title Ведущий мировой поставщик говядины и сельхоз продукции
			button.btn.box__btn.btn_white.btn_hover-black Подробнее
