section.products-wrapper
	.container
		h2.h2 Лидирующее положение
		.h2_subtitle Среди сельскохозяйственных предприятий
		p Мы являемся выдающимся лидером в агробизнесе, специализирующимся на выращивании, производстве и продаже кормов для животных и основных продуктов питания человека, таких как кукуруза, фрукты, мука и овощи. С момента своего создания мы стали свидетелями беспрецедентного роста, подпитываемого активной стратегией иностранных инвестиций, создавая различные предприятия со специализированными производителями кормов и продуктов питания по всему миру.
		button.btn.btn_white.btn_hover-border-white.products-wrapper__btn Подробнее
		.products
			.products__item-wrapper
				.products__item.products__cereals
					h3.h3.h3_bold Злаки
					.products__shadow
			.products__item-wrapper
				.products__item.products__vegetables
					h3.h3.h3_bold Овощи
					.products__shadow
			.products__item-wrapper
				.products__item.products__seed
					h3.h3.h3_bold Семена
					.products__shadow
			.products__item-wrapper
				.products__item.products__fruit
					h3.h3.h3_bold Ягоды
					.products__shadow
		.products-nav
			button.products-nav__button.products-nav__prev
				i.icon-chevron-left
			button.products-nav__button.products-nav__next
				i.icon-chevron-right
