section.technologies
	.technologies-item.technologies-item_seed
		.technologies-item__content
			h4.h4.technologies-item__title Посевы
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box
	.technologies-item.technologies-item_tech
		.technologies-item__content
			h4.h4.technologies-item__title Технологии производства семян
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box
	.technologies-item.technologies-item_water
		.technologies-item__content
			h4.h4.technologies-item__title Консервация воды
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box
