footer.footer
	.footer__content.container
		.footer-logo
			a.footer-logo__name(href='/') Gather
			.footer-logo__privacy © 2019 | Privacy policy
		.footer__contacts
			.footer__call Свяжитесь с нами
			a.footer__tel(href='tel:+') 8-800-555-35-35
			.footer__address Gather Company, Шелепихинская наб., 7с5, Москва, Россия, 123290 <br> Email:
				a(href='mailto:@')  mail@mail.com
		.footer__social
			a(href='' onclick="return false;")
				i.icon-facebook
			a(href='' onclick="return false;")
				i.icon-google-plus
			a(href='' onclick="return false;")
				i.icon-linkedin
			a(href='' onclick="return false;")
				i.icon-twitter
