nav.menu
	ul
		li
			a.menu__link(href='index.html') Главная
		li
			a.menu__link(href='about.html') О нас
		li
			a.menu__link(href='gallery.html') Галерея
		li
			a.menu__link(href='contacts.html') Контакты
