@font-face
	font-family: "Roboto Condensed"
	src: url(..//fonts/RobotoCondensed-Bold.woff2)
	font-weight: 600

@font-face
	font-family: "Roboto Condensed"
	src: url(..//fonts/RobotoCondensed-Regular.woff2)
	font-weight: 400

@font-face
	font-family: "Roboto Condensed"
	src: url(..//fonts/RobotoCondensed-Light.woff2)
	font-weight: 300

@font-face
	font-family: "Roboto"
	src: url(..//fonts/Roboto-Light.woff2)
	font-weight: 300

@font-face
	font-family: "Roboto"
	src: url(..//fonts/Roboto-Medium.woff2)
	font-weight: 500

@font-face
	font-family: 'icomoon'
	src:url('..//fonts/icomoon.woff?id5h44') format('woff')
	font-weight: normal
	font-style: normal
	font-display: block


[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-thermometer:before
	content: "\e903"

.icon-home:before
	content: "\e900"

.icon-phone:before
	content: "\e942"

.icon-leaf:before
	content: "\e9a4"

.icon-sun:before
	content: "\e9d4"

.icon-google-plus:before
	content: "\ea8b"

.icon-facebook:before
	content: "\ea90"

.icon-twitter:before
	content: "\ea96"

.icon-linkedin:before
	content: "\eaca"

.icon-envelope:before
	content: "\e904"

.icon-briefcase:before
	content: "\e902"

.icon-arrow-up:before
	content: "\e901"
