@import '_mixins'
@import '_font'

body
	position: relative
	font-size: 16px
	line-height: 1.75
	min-width: 320px
	margin: 0
	font-family: 'Roboto Condensed'
	font-weight: 400
	color: #ffffff

	background: #666666
	height: 200vh

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
	box-sizing: border-box

	border-right: 2px solid
	border-left: 2px solid

p
	font-family: "Roboto"
	font-size: 14px
	font-weight: 300

button
	outline: none
	cursor: pointer
	color: inherit

ul
	padding: 0
	margin: 0
li
	list-style: none
a
	text-decoration: none
	color: inherit

@import '_titles'
@import '_boxes'
@import '_buttons'
@import '_menu'
@import '_header'
@import '_footer'
