@import '_mixins'
@import '_font'

body
	position: relative
	font-size: 16px
	line-height: 1.75
	min-width: 320px
	margin: 0
	font-family: 'Roboto Condensed'
	font-weight: 400
	color: #ffffff

p
	font-family: "Roboto"
	font-size: 14px
	font-weight: 300

button
	cursor: pointer
	color: inherit

button, input, textarea
	outline: none

ul
	padding: 0
	margin: 0

li
	list-style: none

a
	text-decoration: none
	color: inherit

textarea
	resize: none

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
	box-sizing: border-box

@import '_titles'
@import '_boxes'
@import '_buttons'
@import '_menu'
@import '_header'
@import '_footer'
@import '_products'
@import '_technologies'
@import '_advantages'
@import '_about'
@import '_team'
@import '_gallery'
@import '_contacts'
