section.about
	.container
		h2.h2 О нас
		.h2_subtitle Кто мы
		.about-entry
			.about-entry__image
			.about-entry__text
				p Мы являемся ведущим мировым поставщиком говядины и сельскохозяйственной продукции. Наша компания владеет и управляет стратегическим балансом собственности, кормовыми площадками и фермами площадью около 7 миллионов гектаров земли в Квинсленде и Северной Территории. Это составляет примерно 1% территории Австралии.
				p За последнее десятилетие мы расширили свою деятельность за счет увеличения добавленной стоимости свинины за счет сегмента брендированной свиноводства компании.
				p Мы продолжаем наращивать наш потенциал. Еще больше фруктов и овощей будет выращиваться и собираться в ближайшем будущем. Общее поголовье нашего скота также растет.
				p Мы можем называть себя новаторами в аграрном бизнесе. И это не просто слова. У них солидный опыт. Вы можете найти реальные доказательства, прочитав больше о нашей компании.
		h2.h2 Окружающая среда
		.h2_subtitle Мы заботимся о природе
		.about-nature
			.about-nature__item
				.about-nature__image.about-nature__image_pest
				.about-nature__content
					h3.h3.about-nature__title Борьба с вредителями
					p Мы предлагаем услуги по борьбе с вредителями. Мы специализируемся на обработке, которая устранит всех и вся нежелательных вредителей в этой зоне.
					button.btn.btn_border-white.btn_hover-white.about-nature__btn Подробнее
			.about-nature__item
				.about-nature__image.about-nature__image_water
				.about-nature__content
					h3.h3.about-nature__title Водные ресурсы
					p Углубление понимания подземных водоносных горизонтов достигается благодаря всеобъемлющему мониторингу качества воды по всем параметрам.
					button.btn.btn_border-white.btn_hover-white.about-nature__btn Подробнее
