mixin team-item(src,name,desc)
	.team__item
		img.team__photo(src=src alt="Farmer")
		h3.h3.team__title=name
		p.team__desc=desc

.team-wrapper
	.container
		.team
			h2.h2.team__h2 Наша команда
			.team__content
				+team-item('img/farmer-1.jpg','Ян Дмитриевич','Операционный директор Шон отвечает за повседневную деятельность компании и регулярно отчитывается перед высшим руководством.')
				+team-item('img/farmer-2.jpg','Марат Петрович','Специализируется в основном в области экологического права и водного законодательства, в котором имеет многолетнюю практику, большой опыт и успех.')
				+team-item('img/farmer-3.jpg','Закир Иванович','Специализируется в области коммерческого и гражданского права, занимается реструктуризацией торговых компаний и кооперативов, а также преобразованием сельского хозяйства.')
				+team-item('img/farmer-4.jpg','Тит Сергеевич','Консультант министра сельского хозяйства. Он специализируется на сельскохозяйственном праве и праве кооперативов.')
