section.technologies

	.technologies-item.technologies-item_vegetables
		.technologies-item__content
			h4.h4.technologies-item__title Овощи
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box

	.technologies-item.technologies-item_cereals
		.technologies-item__content
			h4.h4.technologies-item__title Злаки
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box

	.technologies-item.technologies-item_fruit
		.technologies-item__content
			h4.h4.technologies-item__title Фрукты
			button.btn.btn_white.btn_hover-border-white.technologies-item__btn Подробнее
			.technologies-item__box
